#folders
build/
CMakeFiles/
bin/
lib/
resources/
gtest/build/
bookmarks
elpa
ido.last
irony

#ignore gtags files
GPATH
GRTAGS
GTAGS


#temp files
*~
*/**/*~
*/**/#*
*/**/.#*
\#*
*.swp
*/**/*.swp
session.*



#qtcreator files
*.user

#vocabularies
*.voc
